@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@font-face {
    font-family: backtoscool;
    src: url(/fonts/BACK\ TO\ SCHOOL.otf);
}
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f8f9fa;
}
.header{
    background-image: url(img/logo.png);
}
main {
    /* Hauptinhalt f체llt den verf체gbaren Platz aus */
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px; /* Zus채tzlicher Platz 체ber dem Footer */
}
.header-image {
    background: url('/img/minecrafthouse.png') no-repeat center center/cover;
    height: 50vh;
    min-height: 300px;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.header-image h1, .header-image p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 10px 20px;
    border-radius: 10px;
}
.container{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.card {
    border-radius: 15px;
}

.card-title {
    color: #495057;
    font-weight: bold;
}

.card-text {
    line-height: 1.6;
}
.avatar {
    border-radius: 50%;
    max-width: 50px;
}

