body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.header{
    background-image: url(img/logo.png);
}
main {
    /* Hauptinhalt f체llt den verf체gbaren Platz aus */
    flex: 1;
    padding-top: 20px;
    padding-bottom: 20px; /* Zus채tzlicher Platz 체ber dem Footer */
}
.header-image {
    background: url('/img/minecrafthouse.png') no-repeat center center/cover;
    height: 50vh;
    min-height: 300px;
    max-height: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.header-image h1, .header-image p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px 2px;
    border-radius: 1px;
}
.container{
    font-family: Comic Sans MS ;
}


