@font-face {
    font-family: backtoscool;
    src: url(/fonts/BACK\ TO\ SCHOOL.otf);
}
@font-face {
    font-family: Comic Sans MS;
    src: url(/fonts/Comic\ Sans\ MS.ttf);
}
.header{
    background-image: url(img/logo.png);
}
main {
    /* Hauptinhalt f체llt den verf체gbaren Platz aus */
    flex: 100 0 auto;
    padding-top: 20px;
    padding-bottom: 20px; /* Zus채tzlicher Platz 체ber dem Footer */
}
.header-image {
    background: url('/img/minecraftingame1.png') no-repeat center center/cover;
    height: 50vh;
    min-height: 200px;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 4px rgba(0,0,0,0.8);
    border-radius: 1rem;
    margin-bottom: 3rem;
}

.header-image h1, .header-image p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1px 2px;
    border-radius: 1px;
}
