body {
background-color: #f5f5f5;
}


.card img {
object-fit: cover;
height: 200px;
}


footer {
position: relative;
bottom: 0;
width: 100%;
}
/* Navbar Styling */
.navbar-brand {
    font-weight: bold;
    letter-spacing: 0.5px;;
}

.nav-link:hover {
    text-decoration: underline;
}
